.task-list-container {
  display: flex;
  background-color: #f7f7f7;
}

.sidebar {
  width: 200px;
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.sidebar-menu li a:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}

.header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.add-task-section {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link a:hover {
  background-color: #0056b3;
}

#add-task-form {
  max-width: 500px;
  margin: 0 auto;
}

#add-task-form h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

#task-form div {
  margin-bottom: 15px;
}

#task-form label {
  font-weight: bold;
  color: #555;
}

#task-form input[type="text"],
#task-form input[type="date"],
#task-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#task-form textarea {
  resize: vertical;
}

#task-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#task-form button[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

li:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.task-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.task-actions button {
  background-color: transparent;
  color: #888;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.task-actions button:hover {
  color: #333;
}

.date-picker {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
